{% extends 'base.html' %} {% block content %}

<div class="container">
    <div class="row m-4 align-items-center justify-content-center rounded">
        <div class="col-md-8">

            <div class="card shadow-lg">
                <div class="card-body">
                    <h2 class="text-center">ABOUT US</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit dolor, quae esse soluta dignissimos consequatur libero illo incidunt quas ipsam obcaecati, non cupiditate harum optio. Perspiciatis, non? Tempore, similique adipisci.</p>

                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia eveniet autem illum! Nobis quidem necessitatibus ullam quia facilis error laboriosam facere consectetur ex sunt. Nesciunt commodi esse tempora eaque quam?</p>

                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit esse, dolor modi ducimus fuga quibusdam ut atque itaque dicta quaerat, recusandae illo et sunt distinctio pariatur voluptatum laborum possimus! Ex.</p>

                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae voluptas fuga dolorum alias consectetur at sequi consequuntur quisquam eius repellat, aspernatur beatae quos minima, sit, officia possimus deleniti enim obcaecati!</p>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora ex, assumenda nam molestias nesciunt reprehenderit architecto explicabo impedit doloremque sint repellendus accusantium, obcaecati enim tenetur excepturi. Exercitationem
                        aspernatur reiciendis facere.</p>


                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae dignissimos fugiat nobis ipsum, modi aut odio illum inventore officiis perferendis voluptatibus error rerum, quia quis accusamus eveniet fuga velit ratione.</p>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}